<!DOCTYPE>
<html ng-app="myApp">
<head>

	<title>All Layers</title>

</head>
<body>

	<div class='btn-toolbar pull-right'>
		<div class='btn-group'>
		</div>
	</div>

	<div class="container" ng-controller="AppCtrl">

		<table class="table">
			<thead>
					<th>Name</th>
					<th>Artist</th>
					<th>Length (s)</th>
					<th>File Path</th>
				</tr
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="layer.data[0].LayerName"></td>
					<td><input class="form-control" ng-model="layer.data[0].Username"></td>
					<td><input class="form-control" ng-model="layer.data[0].Length_of_Layer"></td>
					<td><input class="form-control" ng-model="layer.data[0].FileLayer"></td>

<!-- 					<td><button class="btn btn-primary" ng-click="addLayer()">Upload</td>
					<td><button class="btn btn-primary" ng-click="updateLayer()">Update</td>
 -->				</tr>
				<tr ng-repeat="layer in layers.data | filter:layer.data[0].LayerName | filter:layer.data[0].Username | filter:layer.data[0].Length_of_Layer | filter:layer.data[0].FilePath">
					<td><a href="#/layers/{{layer.LayerID}}">{{layer.LayerName}}</a></td>
					<td><a href="#/artists/{{layer.Username}}">{{layer.Username}}</td>
					<td>{{layer.Length_of_Layer / 60 | number: 0}}:{{layer.Length_of_Layer % 60}}</td>
					<td>{{layer.FileLayer}}</td>
<!-- 					<td><button class="btn btn-primary" ng-click="download
						(layer.LayerID)">Download</button>
						<td><button class="btn btn-success" ng-click="editLayer(layer.LayerID)">Edit</td>
 -->					</tr>
				</tbody>
			</table>
		</div>

	</body>
	</html>